#one_another_dashboard {text-align:center;width:100%;}
#one_another_dashboard h2 {padding:0 20px;}
#one_another_dashboard ul {display:flex;list-style: none;}
#one_another_dashboard .filter {margin:25px auto;}
#one_another_dashboard ul li {flex:1;visibility:hidden;border:1px solid #000;text-align:center;max-width:100%;border-radius: 25px;}
#one_another_dashboard ul li.active {animation: bounceIn 2s;visibility:visible;}
#one_another_dashboard .message {text-align:center;width:100%;}
@media only screen and (max-width: 600px) {
  #one_another_dashboard ul li {
    display:none;
  }
  #one_another_dashboard ul li.active {
    display:block;
  }
}
@keyframes bounceIn {
  0% {transform: scale(0.1);opacity: 0;}
  60% {transform: scale(1.2);opacity: 1;}
  100% {transform: scale(1);}
}

@keyframes bobble {
  0% {transform: translate3d(50px, 40px, 0px);animation-timing-function: ease-in;}
  50% {transform: translate3d(50px, 50px, 0px);animation-timing-function: ease-out;}
  100% {transform: translate3d(50px, 40px, 0px);}
}
