.view-reporting .view-content .view-grouping .view-grouping-content .view-grouping {
  width:25%;
  float:left;
}
.view-reporting .view-content > .view-grouping {
  clear:both;
}
.status-Active {background-color:palegreen}
.status-Complete {background-color:cornflowerblue}
.status-Todo {background-color:lightgrey}
.clear { clear:both; }
.view-display-id-page_1 .node--view-mode-teaser {border-bottom:none;}
.node--type-work .layout__region--first {

}
.node--type-work .layout__region--second {

 }

