Provides Vue.js configuration for the webpack module.

<h3>Dependencies</h3>

- <a href="https://drupal.org/project/webpack" target="_blank">Webpack</a>
- <a href="https://drupal.org/project/webpack_babel" target="_blank">Webpack Babel</a>

<h3>Installation</h3>

<code>yarn add vue vue-loader vue-template-compiler</code>

<h3>Example usage</h3>

<em>module.libraries.yml</em>
<code>
test:
webpack: true
js:
index.js: {}
</code>

<em>index.js</em>
<code>
import Vue from 'vue';
import Component from './Component.vue';

Vue.component('test-component', Component);

const app = new Vue({
  el: '#page',
  template: '<test-component />',
});
</code>
