<div class="wrapper">

  <div id="one_another_dashboard">
    <p>[[ message ]]</p>
    <div class="filter">
      <button v-on:click="pick_another()">Another One</button>
    </div>
    <ul>
      <animated-item
        class="animated"
        v-bind:class="{ active: item.isActive }"
        v-for="item in word_list"
        v-bind:item="item"
        v-bind:key="item.id"
      ></animated-item>
    </ul>
  </div>
</div>
