<div class="wrapper">
  <script>
    var focus_year = {{ selected_year }}; // Don't forget the extra semicolon!
  </script>
  <h2>{{ selected_year }}</h2>
  <div id="focus_dashboard">
    <p>[[ message ]]</p>
    <ul>
      <focus-item
      v-for="item in card_list"
      v-bind:card="item"
      v-bind:key="item.id"
      ></focus-item>
    </ul>
  </div>
</div>
