<div class="wrapper">
  <h2>{{ selected_year }}</h2>
  <h4>{{ user }}</h4>
  <div id="resourcing-reporting">
    <h3>[[ today ]]</h3>
    <calendar-heatmap
      :values="values"
      :end-date="today"
      :range-color="range"
      :tooltip="true"
      :max="max"
      tooltip-unit="hours"
    />
  </div>
  <div id="{{ user_id }}" class="user_id" style="display:hidden;"></div>
</div>
