<link rel="stylesheet" type="text/css" href="/{{ current_path }}/js/heatmap/src/calendar-heatmap.css">
<h2>{{ selected_year }}</h2>
<h4>{{ user }}</h4>
<div id="user_links">
  <ul>
    <user_link
      v-for="item in user_links"
      v-bind:user="item"
      v-bind:key="item.id"
    ></user_link>
  </ul>
</div>
<div class="container"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js" charset="utf-8"></script>
<script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/{{ current_path }}/js/heatmap/src/calendar-heatmap.js"></script>


<script type="text/javascript">
  var now = moment().endOf('day').toDate();
  var yearAgo = moment().startOf('day').subtract(1, 'year').toDate();

  jQuery.getJSON('/rest/reporting/calendar-heatmap?uid={{ uid }}',function(json){

    //console.log(json);
    var heatmap = calendarHeatmap()
      .data(json)
      .selector('.container')
      .tooltipEnabled(true)
      .tooltipUnit('hour')
      .max(16)
      .colorRange(['#f4f7f7', '#79a8a9'])
      .onClick(function (data) {
        //console.log('data', data);
        now = moment();
        date = moment(data.date);
        days = now.diff(date, 'days');
        if (days === 0) {
          days = 'now';
        } else {
          days = '-'+days+'+day';
        }
        url = '/resourcing-day?field_date_value='+days+'&uid={{ uid }}';
        window.location.href = url;
      });
    heatmap();
  }.bind(this));

</script>
