<div class="wrapper">
  <h2>{{ date }}</h2>
  <h3>{{ user }}</h3>
  <h4>{{ category }}</h4>
  <div id="resourcing_dashboard">
    <div>
      <p>[[ message ]]</p>
      <input v-model="message">
    </div>
    <table><tbody>
        <resource-item
        v-for="item in full_resource_list"
        v-bind:card="item"
        v-bind:key="item.id"
        ></resource-item>
      </tbody></table>
  </div>
</div>
