<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>


<div id="app">
  <h1>Hello App!</h1>
  <p>
    <!-- use router-link component for navigation. -->
    <!-- specify the link by passing the `to` prop. -->
    <!-- <router-link> will be rendered as an `<a>` tag by default -->
    <router-link to="/foo">Go to Foo</router-link>
    <router-link to="/bar">Go to Bar</router-link>
    <router-link to="/dude/007">Go to Dude</router-link>
  </p>
  <!-- route outlet -->
  <!-- component matched by the route will render here -->
  <router-view></router-view>
</div>

<script>
  // 0. If using a module system, call Vue.use(VueRouter)

  // 1. Define route components.
  // These can be imported from other files
  const Foo = { template: '<div>foo</div>' }
  const Bar = { template: '<div>bar</div>' }
  const Dude = {
    delimiters : ['[[',']]'],
    props: ['id'],
    template: '<div>User [[ id ]]</div>'
  }

  // 2. Define some routes
  // Each route should map to a component. The "component" can
  // either be an actual component constructor created via
  // Vue.extend(), or just a component options object.
  // We'll talk about nested routes later.
  const routes = [
    { path: '/foo', component: Foo },
    { path: '/bar', component: Bar },
    { path: '/dude/:id', component: Dude, props: true }
  ]

  // 3. Create the router instance and pass the `routes` option
  // You can pass in additional options here, but let's
  // keep it simple for now.
  const router = new VueRouter({
    routes
  })

  var data = {
    message: 'You loaded this page on ' + new Date().toLocaleString(),
    json_location: '/jsonapi/node/card?&filter[uid.id][value]=68b8c53e-3767-4c30-8002-33ebea273a9c&filter[status-filter][condition][path]=field_status&filter[status-filter][condition][value]=active',
    full_resource_list: [],
  };

  // 4. Create and mount the root instance.
  // Make sure to inject the router with the router option to make the
  // whole app router-aware.
  const app = new Vue({
    delimiters : ['[[',']]'],
    router,
  }).$mount('#app')

  // Now the app has started!
</script>
